<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <% title %> </title>
</head>
<body>
    <h1>Register Page</h1>
    <form method="post" action="signup">
        <label for="fullname">First name: </label>
        <input type="text" id="fullname" name="fullname">
        <br>
        <br>
        <label for="email">Email: </label>
        <input type="text" id="email" name="email">
        <br>
        <br>
        <label for="password">Password: </label>
        <input type="text" id="password" name="password">
        <br>
        <br>
        <label for="confirmPassword">Confirm password: </label>
        <input type="text" id="confirmPassword" name="confirmPassword">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>