<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <% title %>
    </title>
</head>

<body>
    <h1>Register Page</h1>
    <form method="post" action="signup">
        <label for="fullname">Full name: </label>
        <input type="text" id="fullname" name="fullname" required>
        <br>
        <br>
        <label for="email">Email: </label>
        <input type="text" id="email" name="email" required>
        <br>
        <br>
        <label for="password">Password: </label>
        <input type="text" id="password" name="password" required>
        <br>
        <br>
        <label for="confirmPassword">Confirm password: </label>
        <input type="text" id="confirmPassword" name="confirmPassword" required>
        <br>
        <br>
        <label for="admin">Is admin?</label>
        <input type="checkbox" id="admin" name="admin">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>